<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <section>
      <script   src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous"></script>
      <h1 id="temperature"></h1>

      <section id="dropdown">
        <h2>Temp outside: <span id="current-temperature"></h2>
        <select id="current-city">
          <option value="london">London</option>
          <option value="newyork">New York</option>
          <option value="paris">Paris</option>
          <option value="tokyo">Tokyo</option>
          <option value="sydney">Sydney</option>
        </select>
      </section>
      <br>

      <section id="choose">
        <form id="select-city">
          <input id="custom-city" type="text" placeholder="Enter a city"></input>
          <input type="submit"></input>
        </form>
      </section>

      <p id="controls">
        <button id="temperature-up">+</button>
        <button id="temperature-down">-</button>
        <button id="temperature-reset">reset</button>
        <br><br>
        power saving mode is <span id="power-saving-status">on</span>
        <button id="powersaving-on">PSM on</button>
        <button id="powersaving-off">PSM off</button>
      </p>
    </section>
    <script src="../src/thermostat.js"></script>
    <script src="../src/interface.js"></script>
  </body>
</html>
